table, th {
  border: 1px solid black;
  border-collapse: collapse;
  background-color:rgb(235, 235, 235);
  padding:5px;
  width: 33.3%;
}

td{
    border: 1px solid black;
    border-collapse: collapse;
    background-color:rgb(235, 235, 235);
    padding:5px;
    width: 33.3%
}

.frame{
  width: 40%;
  border-style: ridge;
  margin: 25px 25px;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.margin{
  margin: 70px 0px;
}